[Unit]
Description=Pi-hole Health Logger
After=network.target

[Service]
Type=oneshot
ExecStart=scripts/pihole_health_logger.sh
WorkingDirectory=%h
User=root

[Install]
WantedBy=multi-user.target
